{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
</head>
<body>
    <div id="Front">
        <img src="{% static 'core/img/Logo Universidad/Dirección Sede Viña del Mar (1).png' %}" alt="Logo Universidad" id="LogoU"><br>
        <div>
            <img src="{% static 'core/img/Logo Universidad/fondo_viña.png' %}" alt="Calendario de Actividades <año>" id="ImagenPrincipal">
            <div class="container-fluid" id="FiltrarSeg">
                <div class="row">
                    <div class="col">
                        <form method="post">
                            {% csrf_token %}
                            <select class="form-select" name="FiltrarSegmento" aria-label="Default select example" id="SegmentosBar">
                                <option value=""selected>Segmento</option>
                                <option value="V">Vacaciones</option>
                                <option value="F">Feriado</option>
                                <option value="SA">Suspencion de Actividades</option>
                                <option value="SAP">Suspencion de Actividades PM</option>
                                <option value="P">Periodo Lectivo</option>
                                <option value="SE">Suspension de Evaluaciones</option>
                                <option value="C">Ceremonia</option>
                                <option value="ED">EDDA</option>
                                <option value="E">Evaluacion</option>
                                <option value="A">Ayudantias</option>
                                <option value="H">Hito Academico</option>
                                <option value="S">Secretaria Academica</option>
                                <option value="O">OAI</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Filtrar Segmento</button>
                        </form>
                    </div>
                    <div class="col">
                        <form method="post">
                            {% csrf_token %}
                            <select class="form-select" name="FiltrarTipo" aria-label="Default select example" id="TiposBar">
                                <option value=""selected>Tipo</option>
                                <option value="C">Comunidad USM</option>
                                <option value="E">Estudiante</option>
                                <option value="P">Profesor</option>
                                <option value="J">Jefe de Carrerra</option>
                            </select>
                            <button type="submit" class="btn btn-primary">Filtrar Tipo</button>
                        </form>
                    </div>
            </div>
        </div>
        <div class="container" id="Calendario">
            <div class="row justify-content-center">
              <div class="col-12 text-center">Actividades</div>
              <div class="col-4">Hito<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
              <div class="col-2">Fecha Inicio<br>Subsequent columns continue along the new line.</div>
              <div class="col-2">Fecha Termino<br>Subsequent columns continue along the new line.</div>
              <div class="col-2">Tipo<br>Subsequent columns continue along the new line.</div>
              <div class="col-2">Segmento<br>Subsequent columns continue along the new line.</div>
            </div>
          </div>
    </div>
    </div>
    {% block content %}
    
    {% endblock %}
    <div id="Actividades">

    </div>
    <nav class="navbar navbar-expand hideIfSmall" style="background-color: #008452;" id="LaNavBar">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Administración</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="js/bootstrap.js"></script>
</body>
</html>